<div class="d-flex justify-content-center">

    <div class="row">
      <div class="col-md-6">
        <div class="well">
          <h1 class="text-center">Please log in below</h1>

          <%= form_tag sessions_path do %>
          <div class="">
            <%= email_field_tag :email, nil, placeholder: "Email address", :class => "form-control" %>
          </div>
          <div class="">
            <%= password_field_tag :password, nil, placeholder: "Password", :class => "form-control" %>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
        <%= submit_tag "Login", :class => "btn btn-lg btn-primary btn-block" %>

        <% end %>
      </div>
        </div>
    </div>
        </div>
    </div>
