
  <div class="img_container">
    <img class="img_post" src="https://s3.drafthouse.com/images/made/12439707_9414869_pm_758_426_81_s_c1.jpg" alt="">
  </div>
  <div class="img_social">
    <a href="#"><i class="fa fa-heart-o fa-2x" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-comment-o fa-2x" aria-hidden="true"></i></a>
    <a href="#" class="pull-right"><i class="fa fa-bookmark-o fa-2x" aria-hidden="true"></i></a>
  </div>

  <h2><%= @post.title %></h2>
  <p><%= @post.body %></p>

<hr>
