<footer class="footer navbar-fixed-bottom">

  <div class="panel-footer text-center">
    <p>Blogz 2017 &copy; <small>mute</small>| </p>

    <a href="#">
      <i class="fa fa-facebook-square" aria-hidden="true"></i>Facebook</a> |
    <a href="#">
      <i class="fa fa-github" aria-hidden="true"></i>Github</a> |
    <a href="#">
      <i class="fa fa-stack-overflow" aria-hidden="true"></i>Stack</a> |
    <a href="#">
      <i class="fa fa-linkedin" aria-hidden="true"></i>LinkedIn</a>

  </div>

</footer>
