<footer class="footer navbar-fixed-bottom">

  <div class="panel-footer text-center">
    <span class="text-muted">Blogz 2017 &copy; | </span>
    <i class="fa fa-facebook-square" aria-hidden="true"></i>Facebook |
    <i class="fa fa-github" aria-hidden="true"></i>Github |
    <i class="fa fa-stack-overflow" aria-hidden="true"></i>Stack |
    <i class="fa fa-linkedin" aria-hidden="true"></i>LinkedIn |
  </div>

</footer>
